@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: #f9f9f9;
  --foreground: #030303;
  --card: #ffffff;
  --card-foreground: #030303;
  --popover: #ffffff;
  --popover-foreground: #030303;
  --primary: #4779ff;
  --primary-foreground: #ffffff;
  --secondary: #f9f9f9;
  --secondary-foreground: #030303;
  --muted: #f9f9f9;
  --muted-foreground: #606060;
  --accent: #f9f9f9;
  --accent-foreground: #030303;
  --destructive: oklch(0.577 0.245 27.325);
  --border: #dadada;
  --input: #dadada;
  --ring: #4779ff;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
