NEXT_PUBLIC_DYNAMIC_ENV_ID=

CHECKOUT_SECRET_KEY=
NEXT_PUBLIC_CHECKOUT_PUBLIC_KEY=
CHECKOUT_PROCESSING_CHANNEL_ID=
CHECKOUT_API_URL=

POLYMARKET_BUILDER_SECRET=
POLYMARKET_BUILDER_PASSPHRASE=
POLYMARKET_BUILDER_API_KEY=

# Optional: LiFi API key for higher rate limits on cross-chain deposits
# Get this from https://li.fi
NEXT_PUBLIC_LIFI_API_KEY=
