@import "tailwindcss";
@source "../node_modules/@morpho-org/uikit";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --morpho-brand: hsl(219.3, 100%, 58%);
  --morpho-active: hsl(218.9, 100%, 67.1%);
  --morpho-error: hsl(348.1, 100%, 73.3%);
  --morpho-yellow: hsl(35.9, 100%, 62%);
  --morpho-valid: hsl(172.8, 48.9%, 43.7%);
  --morpho-banner: var(--morpho-active);

  --morpho-pearl: hsl(0, 0%, 100%);
  --morpho-white: hsl(0, 0%, 98%);
  --morpho-gray: rgb(51, 54, 58);
  --morpho-dark: rgb(34, 37, 41);
  --morpho-black: rgb(21, 24, 26);
  --morpho-vanta: hsl(0, 0%, 0%);

  --allocation-0: var(--morpho-brand);
  --allocation-1: hsl(248.3, 90%, 60.6%);
  --allocation-2: hsl(239.6, 83.5%, 66.7%);
  --allocation-3: hsl(212.3, 83.9%, 61%);
  --allocation-4: hsl(194.3, 84.5%, 62%);
  --allocation-5: hsl(154.5, 66.4%, 74.3%);
  --allocation-6: hsl(173.8, 66.4%, 74.3%);
  --allocation-7: hsl(239.4, 66.7%, 70.6%);
  --allocation-8: hsl(262.8, 66.7%, 70.6%);
  --allocation-9: hsl(277.2, 66.7%, 70.6%);

  --background: var(--morpho-pearl);
  --foreground: hsl(240 10% 3.9%);

  --card: var(--morpho-white);
  --card-foreground: hsl(240 10% 3.9%);

  --popover: var(--card);
  --popover-foreground: hsl(240 10% 3.9%);

  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);

  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);

  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);

  --accent: hsl(240 4.8% 95.9%);
  --accent-foreground: hsl(240 5.9% 10%);

  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 10% 3.9%);
  --navbar-interactive: hsl(220, 5.1%, 23.1%);

  --radius: 0.6rem;

  /* Chart (light) */
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);

  /* Sidebar (light) */
  --sidebar: hsl(0 0% 98%);
  --sidebar-foreground: hsl(240 5.3% 26.1%);
  --sidebar-primary: hsl(240 5.9% 10%);
  --sidebar-primary-foreground: hsl(0 0% 98%);
  --sidebar-accent: hsl(240 4.8% 95.9%);
  --sidebar-accent-foreground: hsl(240 5.9% 10%);
  --sidebar-border: hsl(220 13% 91%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

.dark {
  --background: var(--morpho-black);
  --foreground: var(--morpho-pearl);

  --card: var(--morpho-gray);
  --card-foreground: color-mix(in hsl, var(--morpho-pearl), transparent 10%);

  --popover: var(--card);
  --popover-foreground: var(--card-foreground);

  --primary: var(--morpho-dark);
  --primary-foreground: color-mix(in hsl, var(--morpho-pearl), transparent 10%);

  --secondary: hsla(0, 0%, 98%, 0.1);
  --secondary-foreground: color-mix(in hsl, var(--morpho-pearl), transparent 30%);

  --tertiary: hsla(0, 0%, 98%, 0.1);
  --tertiary-foreground: color-mix(in hsl, var(--morpho-pearl), transparent 50%);

  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: color-mix(in hsl, var(--morpho-pearl), transparent 60%);

  --accent: hsl(240 3.7% 20.9%);
  --accent-foreground: var(--morpho-pearl);

  --destructive: hsla(348.1, 100%, 73.3%, 0.1);
  --destructive-foreground: hsl(0 0% 98%);

  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);
  --navbar-interactive: hsl(220, 5.1%, 23.1%);

  /* Chart (dark) */
  --chart-1: hsl(219.3, 100%, 58%);
  --chart-2: hsl(0, 0%, 83.9%);
  --chart-3: hsl(12 76% 61%);
  --chart-4: hsl(173 58% 39%);
  --chart-5: hsl(197 37% 24%);

  /* Sidebar (dark) */
  --sidebar: hsla(0, 0%, 0%, 0.3);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-morpho-brand: var(--morpho-brand);
  --color-morpho-active: var(--morpho-active);
  --color-morpho-error: var(--morpho-error);
  --color-morpho-yellow: var(--morpho-yellow);
  --color-morpho-valid: var(--morpho-valid);
  --color-morpho-banner: var(--morpho-banner);

  --color-morpho-pearl: var(--morpho-pearl);
  --color-morpho-white: var(--morpho-white);
  --color-morpho-gray: var(--morpho-gray);
  --color-morpho-dark: var(--morpho-dark);
  --color-morpho-black: var(--morpho-black);
  --color-morpho-vanta: var(--morpho-vanta);

  --color-allocation-0: var(--allocation-0);
  --color-allocation-1: var(--allocation-1);
  --color-allocation-2: var(--allocation-2);
  --color-allocation-3: var(--allocation-3);
  --color-allocation-4: var(--allocation-4);
  --color-allocation-5: var(--allocation-5);
  --color-allocation-6: var(--allocation-6);
  --color-allocation-7: var(--allocation-7);
  --color-allocation-8: var(--allocation-8);
  --color-allocation-9: var(--allocation-9);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --color-tertiary: var(--tertiary);
  --color-tertiary-foreground: var(--tertiary-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-navbar-interactive: var(--navbar-interactive);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme {
  @keyframes rainbow {
    0% {
      color: var(--color-red-300);
    }
    14% {
      color: var(--color-orange-300);
    }
    28% {
      color: var(--color-yellow-300);
    }
    42% {
      color: var(--color-green-300);
    }
    57% {
      color: var(--color-blue-300);
    }
    71% {
      color: var(--color-indigo-300);
    }
    85% {
      color: var(--color-violet-300);
    }
    100% {
      color: var(--color-red-300);
    }
  }

  --animate-rainbow: rainbow 5s linear infinite;
  --animate-appear: opacity 250ms ease-in-out;
  --ease-aggressive: cubic-bezier(0, 1.02, 0.27, 0.97);
}

@layer utilities {
  .is-frame {
    clip-path: polygon(
      evenodd,
      0% 0%,
      0% 100%,
      100% 100%,
      100% 0%,
      0% 0%,

      14px 14px,
      14px calc(100% - 14px),
      calc(100% - 14px) calc(100% - 14px),
      calc(100% - 14px) 14px,
      14px 14px
    );
  }

  .apply-rounding-blur {
    filter: url("#rounding_blur");
  }
}
